html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Prevent scrolling */
}

canvas {
  display: block; /* Remove canvas padding */
}



#animationContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  opacity: 0; /* Initial opacity */
}

.fadeIn {
  animation: fadeIn 1s forwards;
}

.fadeOut {
  animation: fadeOut 2s forwards;
}

.cube-container {
  perspective: 1000px;
  perspective-origin: 50% 50%;
  width: 100%;
  position: absolute;
  display: grid;
  justify-content: right;
  padding: 50px;
}

.cube {
  position: absolute;
  cursor: pointer;
  left: 85%;
  top: 40px;
  width: 50px;
  height: 50px;
  transform-style: preserve-3d;
  transform: rotateX(0deg) rotateY(0deg) r;
  transition: transform 12s ease-in-out; /* increased transition duration to 10s */
}

.cube:hover {
  animation: rotate 12s ease-in-out forwards; /* added animation */
}

.side {
  position: absolute;
  width: 50px;
  height: 50px;
  
  background-color: #333;
  border: 1px solid white;
  text-align: center;
  line-height: 50px;
}
.side a {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.side:hover {
  background-color: #4e4e4e;
}
.front {
  transform: translateZ(25px);
}

.back {
  transform: rotateY(180deg) translateZ(25px);
}

.left {
  transform: rotateY(-90deg) translateZ(25px);
}

.right {
  transform: rotateY(90deg) translateZ(25px);
}

.top {
  transform: rotateX(90deg) translateZ(25px);
}

.bottom {
  transform: rotateX(-90deg) translateZ(25px);
}

.rune-image {
  width: 25px;
}
.hidden {
  display: none;
  
}
@keyframes rotate {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  20% {
    transform: rotateX(90deg) rotateY(0deg);
  }
  40% {
    transform: rotateX(90deg) rotateY(90deg);
  }
  60% {
    transform: rotateX(0deg) rotateY(90deg);
  }
  80% {
    transform: rotateX(-90deg) rotateY(90deg);
  }
  100% {
    transform: rotateX(-90deg) rotateY(0deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
