html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Prevent scrolling */
}

canvas {
  display: block; /* Remove canvas padding */
}

#special-area {
  position: absolute;
  top: 225px;
  width: 200px;
  height: 50px;
  transform: translateX(0px);
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 5px;
  z-index: 1000;
  white-space: nowrap; /* Prevent line breaks */
}

#animationContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  opacity: 0; /* Initial opacity */
}

.fadeIn {
  animation: fadeIn 1s forwards;
}

.fadeOut {
  animation: fadeOut 2s forwards;
}

.cube-container {
  perspective: 1000px;
  perspective-origin: 50% 50%;
  width: 100%;
  position: absolute;
  display: grid;
  justify-content: right;
  padding: 50px;
}

.cube {
  position: absolute;
  cursor: pointer;
  left: 85%;
  top: 40px;
  width: 50px;
  height: 50px;
  transform-style: preserve-3d;
  transform: rotateX(0deg) rotateY(0deg) r;
  transition: transform 12s ease-in-out; /* increased transition duration to 10s */
}

.cube:hover {
  animation: rotate 12s ease-in-out forwards; /* added animation */
}

.side {
  position: absolute;
  width: 50px;
  height: 50px;
  
  background-color: #333;
  border: 1px solid white;
  text-align: center;
  line-height: 50px;
}
.side a {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.side:hover {
  background-color: #4e4e4e;
}
.front {
  transform: translateZ(25px);
}

.back {
  transform: rotateY(180deg) translateZ(25px);
}

.left {
  transform: rotateY(-90deg) translateZ(25px);
}

.right {
  transform: rotateY(90deg) translateZ(25px);
}

.top {
  transform: rotateX(90deg) translateZ(25px);
}

.bottom {
  transform: rotateX(-90deg) translateZ(25px);
}

.rune-image {
  width: 25px;
}
.hidden {
  display: none;
  
} 

.text {
  position: absolute;
  bottom: 260px; /* Adjust as needed to place the text above the video */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center using transform */
  color: black; /* Adjust text color as needed */
  font-size: 20px; /* Adjust font size as needed */
  font-weight: bold; /* Optional: make text bold */
  z-index: 3; /* Ensure text is above the video */
  opacity: 0; /* Set initial opacity to 0 for fade-in effect */
  animation: fadeInMove 2s forwards; /* Apply animation */
}
#skills {
  position: absolute;
  top: 50%;
  right: 200px;
  width: 700px; /* Adjust this value to set the distance from the right edge of the screen */
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
  color: black;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: none; /* Hide the skills div initially */
  font-size: 20px;
  letter-spacing: 0.05cm;
list-style-type: none;
}
.uli{
  list-style-type: none;
}
.uli li{
  border-bottom: 2px solid black;
  padding-top: 45px;
}
.ul{
  margin-left: 125px;
  display: flex;
  flex-direction: row ;
  justify-content: space-between;
  list-style-type: none;
}
@keyframes fadeInMove {
  0% {
      opacity: 0;
      transform: translateX(-50%) translateY(-20px); /* Start slightly above final position */
  }
  100% {
      opacity: 1;
      transform: translateX(-50%) translateY(0); /* Final position */
  }
}
@keyframes rotate {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  20% {
    transform: rotateX(90deg) rotateY(0deg);
  }
  40% {
    transform: rotateX(90deg) rotateY(90deg);
  }
  60% {
    transform: rotateX(0deg) rotateY(90deg);
  }
  80% {
    transform: rotateX(-90deg) rotateY(90deg);
  }
  100% {
    transform: rotateX(-90deg) rotateY(0deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.liclass{
  margin-left: 60px;
}
.liclass img{
 height: 25px;
}
.liclass1{
  margin-left: 190px;
}
.liclass1 img{
 height: 25px;
}
.liclass2{
  margin-left: 400px;
}
.liclass2 img{
 height: 25px;
}
.liclass3{
  margin-left: 500px;
}
.liclass3 img{
 height: 25px;
}
.liclass4{
  margin-left: 260px;
}
.liclass4 img{
 height: 25px;
}

.ul li, .uli li {
  animation: fadeIn 0.5s ease forwards;
  opacity: 0;
}

.ul li:nth-child(1) {
  animation-delay: 0.5s;
}
.ul li:nth-child(2) {
  animation-delay: 1s;
}
.ul li:nth-child(3) {
  animation-delay: 1.5s;
}
.ul li:nth-child(4) {
  animation-delay: 2s;
}
.ul li:nth-child(5) {
  animation-delay: 2.5s;
}

.uli li:nth-child(1) {
  animation-delay: 3s;
}
.uli li:nth-child(2) {
  animation-delay: 3.5s;
}
.uli li:nth-child(3) {
  animation-delay: 4s;
}
.uli li:nth-child(4) {
  animation-delay: 4.5s;
}
.uli li:nth-child(5) {
  animation-delay: 5s;
}